# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Database file
*.sqlite

public/images/*
!public/images/rawMaterial/noimage.jpg
!public/images/users/noimage.jpg
!public/images/users/user1.jpg
!public/images/users/user2.jpg
!public/images/users/user3.jpg
!public/images/users/user4.jpg
!public/images/users/user5.jpg
!public/images/products/noimage.jpg
